.idea
random_QOQC/test.py
venv
cbqs/*.c
cbqs/*.so
build
build-tests
build-tests-asan
cbqs/src/test.c
cmake-build-debug
cbqs/generators/*.c
results.csv
plot.py
stores*.csv
iqs.egg-info
*.whl
test_callback.txt
random_QOQC
random_QOQC2
dist
.rsync-exclude
makefile
random_QuarticOQuarticC
quadknap
2DVBP
MaxClique
bounded_integers
Paper
Projects
plot_smth.py
others
*.egg-info