.idea
random_QOQC/test.py
venv
iqs/*.c
iqs/*.so
build
../UNI/Promotion/Projects/QuantumAmplitudeEngineering/iqs/src/test
../UNI/Promotion/Projects/QuantumAmplitudeEngineering/iqs/src/test.c
cmake-build-debug
iqs/generators/*.c
results.csv
plot.py
stores*.csv
iqs.egg-info
*.whl
test_callback.txt
random_QOQC
random_QOQC2
dist